@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trouve ou ajoute ton restaurant dans l'onglet restaurant</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Classement disponible</a>.</p>
</div>
